@charset "utf-8"; /*한글이 깨지지 않기 위함*/
/*스킵 내비게이션*/
#skip {position: relative;}
#skip a {position: absolute; left: 0px; top: -35px; border: 1px solid #fff; color: #fff;
background: #333; line-height: 30px; width: 160px; text-align: center;}
#skip a:active,
#skip a:focus {top: 0;}


/*레이아웃*/

#header { height: 325px; background: url(../img/header_bg.jpg) center top repeat-x;}

#footer { border-top: 1px solid #eee;}

/*컨텐츠 레이아웃*/
/*처음 시작 할 때 영역을 잡고 backgrond를 사용해 영역이 잘 들어 갔는지 확인 하는 습관*/
#cont_nav {background-color: #f6fdff;}
#cont_tit {background-color: #eaf7fd;}
#cont_ban {background-color: #dceff7;}
#cont_cont {background-color: #f6fdff;}


/*컨테이너*/
/*margin: 0 auto는 블록요소를 가운데로 맞춰준다는 뜻 inherit는 높이를 부모 요소의 속성값을 상속받습니다.*/
.container {width: 990px; margin: 0 auto; height: inherit; background: rgba(255,255,255,0.3);}

/*헤더*/

.header .header-menu {text-align: right;}
.header .header-menu  a {color: #fff; padding: 10px 0px 10px 13px; display: inline-block;}
.header .header-menu a:hover {color: #666;}
.header .header-tit {text-align: center;}
.header .header-tit h1 { background-color: #4aa8d4; font-size: 28px; padding: 5px 20px 6px 20px; 
                         display: inline-block; margin-top: 40px; color: #fff; font-weight: normal; text-transform: uppercase;} 
.header .header-tit a {display: inline-block; background-color: #2698cb; font-size: 18px; 
                        color: #fff; padding: 5px 20px 6px 20px; margin-top: -5px;}


/*text-align 먹히려면 a태그의 block요소를 inline요소로 바꾸거나 inline-block으로 바꿔야 한다*/
.header .header-icon {text-align: center; margin-top: 30px;}
.header .header-icon  a {width: 60px; height: 60px; display: inline-block; background: url(../img/icon.png); margin: 0 3px;}
.header .header-icon  a.icon1 {background-position: 0 0;}
.header .header-icon  a.icon2 {background-position: 0 -60px;}
.header .header-icon  a.icon3 {background-position: 0 -120px;}
.header .header-icon  a.icon4 {background-position: 0 -180px;}

.header .header-icon  a.icon1:hover {background-position: -60px 0;}
.header .header-icon  a.icon2:hover {background-position: -60px -60px;}
.header .header-icon  a.icon3:hover {background-position: -60px -120px;}
.header .header-icon  a.icon4:hover {background-position: -60px -180px;}


/* float: left로 인한 영역깨짐(height:0) 방지법
1. 깨지는 영역에 똑같이 float:left를 사용한다.(X) --> 모든 박스에 float:legt를 사용하게 됩니다.
2. float의 성질을 차단하는 clear: both;를 사용한다.(X) --> 어떤 영역이 깨졌는지 찾기 어려움
3. float을 사용한 상위 박스한테 overflow: hidden을 사용합니다.(O) --> 현재는 제일 많이 사용
4. clearfix를 사용합니다 (O)*/


/*전체 메뉴 */
/*.nav div는 nav밑에 div는 다 포함 시킨다, .nav > div는 바로 밑에 있는 자식만 포함시킨다.*/
.nav {overflow: hidden; padding: 30px 0;}
.nav > div {float: left; width: 40%;}   /*전체 div박스는 40%지만 안에있는 li의 a태그들은 100%이다.처음 3덩어리 div에서 40%니깐 나머지 밀려서 마지막 40%div가 아래로 나려옴 */                
.nav > div:last-child {width: 20%;}    /* 그래서 last-child로 20%로 맞춰준다.ie9부터 사용가능 i8까지 맞추려면 .nav > div.last {width: 20%} 하면 된다 */  
.nav > div.last {width: 20%;}   
.nav > div h3 {font-size: 18px; color: #25a2d0; margin-bottom: 4px;}

.nav > div ol {overflow: hidden;}
.nav > div ol li {float: left; width: 50%;} /*40%div에서 li는 100%임 이것을 반으로 나눠서 오른쪽에 붙일 것임 그래서 50%로 해놓는다*/
.nav > div.last ol li {width: 100%;}   /*마지막 부분은 나눌 필요가 없어서 last붙여서 100%를 다 준다*/
.nav > div ol li a:hover {text-decoration: underline;}

/* 타이틀 */
.tit {position: relative;} /*기준점 역할을 한다 btn전체메뉴 버튼을 tit기준 안에서 top 0 right 0으로 가야해서*/
.tit h2 {font-size: 40px; text-align: center; padding: 5px 0; letter-spacing: 2px; color: #2c94c4; font-family: 'Nanum Brush Script', cursive;} /*letter-spacing은 글자간격*/
.tit .btn {position: absolute; top: 5px; right: 0; width: 60px; height: 60px; 
           background: url(../img/icon.png) no-repeat 0 -600px;} /*자식요소로서 부모요소 기준으로 포시션 값을 받는다.*/

/* 배너 */
/*원래 원칙은 div container div.ban.a.prev가 원칙인데 앞에 생략하여 div.ban.a.prev로 나타낸다
  div#cont_ban div.container div.ban a.priv{} 가 원칙 */
.ban {position: relative; padding: 24px 0 20px;}
.ban a.prev {position: absolute; left: -80px; top: 60px; width: 43px; height: 43px; background: url(../img/icon.png) no-repeat -150px 0;}
.ban a.next {position: absolute; right: -80px; top: 60px; width: 43px; height: 43px; background: url(../img/icon.png) no-repeat -150px -43px;}
.ban a.prev:hover {background-position: -193px 0;}
.ban a.next:hover {background-position: -193px -43px;} 

.ban ul {overflow: hidden;}
.ban ul li{float: left; width: 330px;} 
.ban ul li:last-child{text-align: right;}/* ie9부터 적용*/
.ban ul li:nth-child(2) {text-align: center;}/* ie9부터 적용*/
/*모든 버전에서 다먹히는 방법 배너 이미지 위치 호환성이 좋음*/
.ban ul li.ban_img1 {text-align: left;}
.ban ul li.ban_img2 {text-align: center;}
.ban ul li.ban_img3 {text-align: right;}
.ban ul li img {border: 4px solid #dcdcdc;}
.ban ul li img:hover {border-color: #98bcdc;}

/* 컨텐츠 */
.cont {overflow: hidden; padding-top: 30px;} /*margin-right사용하면 흰색 배경이 보임 그래서 padding사용*/
.cont .column {position:relative; float:left; width: 289px; height: 363px; margin: 0 30px 30px 0; padding-right: 30px;} /*background 에서 색상 넣고 네모 색상 영역 표시 했다가 위치 잡혔으면 색상 지우기*/
.cont .col1 {border-right: 1px solid #c8c8c8;}
.cont .col2 {border-right: 1px solid #c8c8c8;}
.cont .col3 {margin-right: 0; padding-right: 0;}
.cont .col4 {border-right: 1px solid #c8c8c8;}
.cont .col5 {border-right: 1px solid #c8c8c8;}
.cont .col6 {margin-right: 0; padding-right: 0;}

/* img태그는 inline 요소이다 그래서 inline태그는 컨텐츠의 크기만큼 공간을 차지하도록 되어있어 width와 height는 먹히지 않는다 따라서 block으로 만든다
    그러나 block으로 만들어 놨더니 전체영역을 차지하고있어 옆에 있는 글씨가 아래로 내려온다 그래서 position:absolute를 사용해 영역을 죽여놓고 위치를 지정한다. 
     영역을 죽여놔서 글씨가 그림에 겹쳐보인다 그래서 padding을 사용하여 자연스럽게 만든다.*/
.cont .column .ico_img {display: block; width: 60px; height: 60px; background: url(../img/icon.png) no-repeat; position: absolute; left: 0; top: 0;}
.cont .column .ico_tit {padding-left: 70px; font-size: 16px; color: #2c94c4;}
.cont .column .ico_desc {padding-left: 70px; border-bottom: 1px solid #d0d0d0; padding-bottom: 15px; margin-bottom: 15px;} /*margin-bottom은 notice 공동으로 간격을 띄우기 위해 사용함*/

.cont .col1 .ico_img {background-position: 0px -240px;}
.cont .col2 .ico_img {background-position: 0px -300px;}
.cont .col3 .ico_img {background-position: 0px -360px;}
.cont .col4 .ico_img {background-position: 0px -420px;}
.cont .col5 .ico_img {background-position: 0px -480px;}
.cont .col6 .ico_img {background-position: 0px -540px;}
.cont .col1 .ico_img:hover {background-position: -60px -240px;}
.cont .col2 .ico_img:hover {background-position: -60px -300px;}
.cont .col3 .ico_img:hover {background-position: -60px -360px;}
.cont .col4 .ico_img:hover {background-position: -60px -420px;}
.cont .col5 .ico_img:hover {background-position: -60px -480px;}
.cont .col6 .ico_img:hover {background-position: -60px -540px;}

/* 게시판 */
.notice {position: relative;}
.notice h4 {font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
 /*overflow:hidden원래 역할은 width과 height가 지정된 영역만큼 보이고 이 영역이 넘어가면 보이지 말아라 라는 뜻 
      text-overflow:ellipsis는 내가 지정한 영역이 넘어가면 바꿔짐,white-space:nowrap은 2줄을 1줄로 바꿔짐*/                                                  
.notice ul li {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px;}
.notice ul li a {font-size: 12px;}
.notice a.more {position: absolute; right: 0; top: 0; display: block; background: url(../img/icon.png) -150px -90px; width: 17px; height: 17px;}

/* 게시판2 */
.notice2 {position: relative; margin-top: 15px;}
.notice2 h4 {font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
.notice2 li {overflow: hidden;  background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px;}
.notice2 li a {float: left; width: 65%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice2 li span {float: right; width: 30%; text-align: right;} /* span태그나 a태그같이 inline요소가 왜 float이랑 width가 먹히는지 의아해 했다 . float을 주면 자동으로 inline에서 inline-block으로 바뀐다. */
.notice2 a.more {position: absolute; right: 0; top: 0; display: block; background: url(../img/icon.png) -150px -90px; width: 17px; height: 17px;}

/* 게시판3 */
.notice3 {position: relative;}
.notice3 h4 {font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
.notice3 li {position: relative; padding: 8px 0 14px 60px;}
.notice3 li a img {width: 50px; position: absolute; left: 0; top: 0; border: 1px solid #0093bd;} /*float을 주면 코드가 지저분해지고 복잡해져서 position으로 absolut주면 영역이 사라지기 때문에 기준값인 위에li에 relative를줘서 그기준으로 옮긴다.*/
.notice3 li a strong {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice3 li a span {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 12px;}
.notice3 a.more {position: absolute; right: 0; top: 0; display: block; background: url(../img/icon.png) -150px -90px; width: 17px; height: 17px;}

/* 마우스 오버효과1 */
.notice_hover h4 {font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
.notice_hover ul {overflow: hidden;}
.notice_hover li {float: left;  width: 93px; margin-right: 5px; text-align: center;}/*block구조를 정렬 하기위해 float를 사용함 .text-align은 밑에 와이어프레임, 스케치작업,ui디자인 및 바로가기를 가운데로 정렬함*/
.notice_hover li:last-child {margin-right: 0;} /*ie9 부터 적용*/
.notice_hover li.last {margin-right: 0;} /*모든 브라우저 버전 적용*/
.notice_hover li a span {position: relative; display: block; width: 93px; height: 93px; line-height: 93px;} /* em의 바로가기 글씨 위치를 span에 기준으로함 span기준으로 하려면 block으로 만들고 넓이와 높이를 줘서 영역을 만듬 */
.notice_hover li a span img {width: 100%;}
.notice_hover li a span em {visibility:hidden; position: absolute; left: 0; top: 0; background: rgba(0, 0, 0, 0.7); 
                            color: #fff; width: 100%; height: 100%; }/*글씨 원래 아래에 있어서 absolute사용하고 위치 위로 올림, visibility:hidden은 em의 바로가기를 숨긴다*/
.notice_hover li a span:hover em {visibility: visible;} /*위에 바로가기를 숨겼던것을 다시 보이게 함 */
.notice_hover li a strong {padding-top: 3px; display: inline-block; font-size: 12px;}

/* 마우스 오버효과2 */
.notice_hover2 ul {overflow: hidden;}
.notice_hover2 li {float: left; width: 93px; text-align: center; margin-right: 5px;} /*영역을 꺠고 옆으로 사진이 붙으려면 float사용 하고 반드시 부모 요소에 overflow:hidden을 사용한다. margin마지막부분이 넘친다*/
.notice_hover2 li:last-child {margin-right: 0;}
.notice_hover2 li a span {position: relative; display: block; width: 93px; height: 93px;}
.notice_hover2 li a span img {width: 100%;} /*with값 100%안주면 겹치고 짤린다*/
.notice_hover2 li a span em {visibility:hidden; position: absolute; left: 0; bottom: 0; width: 100%; background: rgba(0, 0, 0, 0.7); color: #fff;}
.notice_hover2 li a span:hover em {visibility:visible;}
.notice_hover2 li a strong {padding-top: 3px; display: inline-block; font-size: 12px;}

/* 콘텐츠 요소를 보이지 않게 하는 방법 
1.display:none <--> display:block (영역이 사라짐)
2.visibility:hidden; <--> visibility:visible; (영역 유지)
3.opacity:0; <--> opacity:1; (영역 유지)
4.width:0; height:0; overflow:hidden;*/


/* tab_menu */
.tab_menu {position: relative; border: 1px solid #ccc; padding: 8px; height: 105px;}
.tab_menu ul {overflow: hidden; border-bottom: 1px solid #ccc;}
.tab_menu ul li {float: left; border: 1px solid #ccc;
                   margin-right: -1px; margin-bottom: -1px;} /* li의 영역을 깨기위해 float사용 가로로 글씨가 위치함 padding을 여기다 주면hover효과가 글씨만 먹힌다. 글씨만 손가락모양이 생김.margin-right:-1px는 2줄을 1줄효과처럼 보인다*/
.tab_menu ul li a {display: block; padding: 5px 10px;} /*박스 영역에 마우스 대면 손가락 모양으로 바뀜. 박스 영역에 hover가 먹힘 */
.tab_menu ul li ul {position: absolute; left: 0; top: 48px; width: 270px; border: 0;} /* 위의 li에서 지정한 css속성값이 이 ul에서도 먹히므로 깨기위해 position:absolute사용 */
.tab_menu ul li ul li {float: none; border: 0; background: url(/img/dot.gif) no-repeat 9px 8px; padding-left: 18px;}
.tab_menu ul li ul li a {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; padding: 0 0 3px 0;}
.tab_menu ul li.active {background: #2c94c4;}
.tab_menu ul li.active a {background: #fff;}
.tab_menu ul li.active ul li a {color: #333;}

/* 게시판4 */
.notice4 {position: relative; border: 1px solid #ccc; }
.notice4 h4 {border-bottom: 1px solid #ccc; font-size: 14px; color: #0093bd; font-weight:700; padding: 8px;}
.notice4 h4 em {color: #cf3292;}
.notice4 ul {padding: 10px;}
.notice4 li {overflow: hidden; background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px; padding-bottom: 2px;}
.notice4 li a {float: left; width: 60%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice4 li span {float: right; width: 30%; text-align: right;}
.notice4 a.more {position: absolute; right: 9px; top: 9px;}

/* 갤러리 */
.gallery {position: relative; border: 1px solid #ccc; height: 254px; overflow: hidden;}
.gallery h4 {font-size: 14px; color: #0093bd; border-bottom: 1px solid #ccc; padding: 10px 0 8px 11px; font-weight: bold;}
.gallery .gallery_btn {position: absolute; right: 5px; top: 7px;}
.gallery .gallery_btn ul {overflow: hidden;}
.gallery .gallery_btn li {float: left; margin: 1px 2px;}
.gallery .gallery_btn li a {display: block; width: 23px; height: 23px; background: url(/img/icon.png) no-repeat;}
.gallery .gallery_btn li.gb_icon1 a {background-position: -150px -120px;}
.gallery .gallery_btn li.gb_icon2 a {background-position: -150px -143px;}
.gallery .gallery_btn li.gb_icon3 a {background-position: -150px -166px;}
.gallery .gallery_btn li.gb_icon4 a {background-position: -150px -189px;}
.gallery .gallery_btn li.gb_icon1 a:hover {background-position: -173px -120px;}
.gallery .gallery_btn li.gb_icon2 a:hover {background-position: -173px -143px;}
.gallery .gallery_btn li.gb_icon3 a:hover {background-position: -173px -166px;}
.gallery .gallery_btn li.gb_icon4 a:hover {background-position: -173px -189px;}
.gallery .gallery_img img {width: 100%;}

/* 로그인 */
#login_wrap {margin-bottom: 15px; background: #f2f4f5; padding: 15px;}
.login_header {overflow: hidden; font-size: 12px; height: 30px;}
.login_header .lh_check {float: left; padding-right: 15px;}
.login_header .lh_check .input_check {vertical-align: -2px;}
.login_header .lh_ip {float: left;}
.login_header .lh_ip em {color: #0093bd; text-decoration: underline;}
.login_content {position: relative;}
.login_content .lc_btn {position: absolute; right: 0; top: 0; width: 62px; height: 47px; background: #fff; border: 1px solid #bebebe;}
.login_content .input_text {width: 182px; height: 16px; padding: 2px 5px; border: 1px solid #bebebe; margin-bottom: 3px; background: #fff;}

.login_footer {margin-top: 5px;}
.login_footer li {display: inline;}
.login_footer li a {font-size: 12px;}

/* 팝업 */

.popup h4 {font-size: 14px; color: #0093bd; padding-bottom: 4px; font-weight: 700;}
.popup ul {overflow: hidden;}
.popup li {float: left; width: 93px; margin-right: 5px;}
.popup li.last {margin-right: 0;}
.popup li img {width: 100%;}

/* 푸터 */
.footer {padding: 25px 0; text-align: center;}
.footer ul {margin-bottom: 20px;}
.footer li {position: relative; display: inline; padding: 0 7px 0 10px;}
.footer li:before {content: ''; width: 1px; height: 12px; background: #ccc; position: absolute; left: 0; top: 2px;}
.footer li:first-child:before {width: 0; height: 0;}
.footer .w3c {margin-top: 15px;}
